.footer-section {
    width: 100%;
  }
  
  .footer-logo {
    width: 80px;
    height: auto;
    border-radius: 10px;
  }
  
  .footer-title {
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .footer-section a {
    color: #dcdcdc;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .footer-section a:hover {
    color: #ffffff;
    padding-left: 4px;
  }
  
  .social-icons a {
    font-size: 24px;
    margin-right: 12px;
    color: #dcdcdc;
    transition: 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #fff;
    transform: scale(1.15);
  }
  